.about__title{
    color: #b5651d ;
    font-family: pacifico, cursive;
}


@media screen and (min-width: 0px){
    .about__title{
        font-size: 2rem;
    }
}

@media screen and (min-width: 768px){
    .about__title{
        font-size: 3.1875rem;
    }
}